body{
	background-color: powderblue;
	max-width: 1280px;
	width: 100%;
	margin: 0px auto;
}

div.divContext{
	background-color:#FCFCFC;
	padding: 0px 10px;
	/*border: 1px solid blue;*/
}

div.divTitle{
	padding: 20px 0px 0px;
	/*border: 1px solid red;*/
}

div.divTitleText{
	padding: 24.5px 0px;
	/*border: 1px solid black;*/
}

div.divImage{
	margin: 0px auto;
	width: 100%;
}

div.divButton{
	width: 100%;
	height: 100px;
}

div.divButton button{
	width: 33.3%;
	height: 50px;
	float: left;
}

div.divAudio{
	display: none;
}